/* Stiluri pentru .chat-page */
.chat-page {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Stiluri pentru .sidebar */
.sidebar {
  width: 250px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

/* Stiluri pentru butoanele din .sidebar */
.sidebar-button {
  padding: 10px;
  margin: 10px 0;
  color: white;
  cursor: pointer;
  background-color: #222;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px
  
}

/* Stiluri pentru .sidebar-lower */
.sidebar-lower {
  margin-top: auto;
  padding-bottom: 20px;
}

/* Stiluri pentru imagini în containerul de logout și light mode */
.logout-container img,
.light-mode img {
  width: 30px;
  height: 30px;
  
}

/* Stiluri pentru .chat-container */
.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
}

/* Stiluri pentru .chat-header */
.chat-header {
  padding: 20px;
  font-size: 1.5em;
  background-color: #20232a;
}

/* Stiluri pentru .chat-messages */
.chat-messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Stiluri pentru .message */
.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #3a3b3c;
}

/* Stiluri pentru .message.user */
.message.user {
  align-self: flex-end;
}

/* Stiluri pentru .chat-footer */
.chat-footer {
  padding: 20px;
  background-color: #20232a;
  display: flex;
}

/* Stiluri pentru input-ul din .chat-footer */
.chat-footer input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

/* Stiluri pentru butonul din .chat-footer */
.chat-footer button {
  padding: 10px 20px;
  border: none;
  background-color: #363839;
  color: #f3f3f5;
  cursor: pointer;
  border-radius: 15px
}

/* Stiluri pentru a asigura alinierea textului butonului cu icon-urile vertical */
.sidebar-button {
  display: flex;
  align-items: center;
  opacity: 50%;
  border-radius: 10px; /* Adăugăm un border-radius pentru a rotunji marginile */
  max-width: 200px;
  opacity: 50%;
}

/* Stiluri pentru butonul de light mode cu icon */
.light-mode {
  gap: 5px;
  border-radius: 15px;
}

/* Stiluri pentru butonul de logout cu icon */
.logout-container {
  gap: 5px;
}

/* Stilurile pentru icon-ul de light mode și logout */
.light-mode-icon,
.log-out-icon {
  width: 100px; /* Dimensiunea icon-ului poate fi ajustată */
  height: 100px; /* Dimensiunea icon-ului poate fi ajustată */
}

/* Ajustează stilurile pentru hover-ul butoanelor din sidebar */
.sidebar-button:hover {
  background-color: #444;
}


/* Stiluri pentru butonul de back to welcome page */
.logout-container {
  gap: 5px;
  border-radius: 10px; /* Adăugăm un border-radius pentru a rotunji marginile */
  max-width: 200px;
  opacity: 50%;
  
  
}

.delete-icon {
  width: 30px; /* Ajustează dimensiunea icon-ului după nevoie */
  height: 30px;
  margin-right: 8px; /* Asigură un spațiu între icon și text */
}
.new-chat-icon {
  width: 30px; /* Ajustează dimensiunea icon-ului după nevoie */
  height: 30px;
  margin-right: 8px; /* Asigură un spațiu între icon și text */
}
.tafbot-icon {
  width: 30px; /* Ajustează dimensiunea imaginii după nevoie */
  height: 30px;
  margin-right: 10px; /* Asigură un spațiu între imagine și text */
}
.saved-conversations {
  margin-top: 20px;
}

.saved-conversations h3 {
  margin-bottom: 10px;
}

.saved-conversations ul {
  list-style-type: none;
  padding: 0;
}

.saved-conversations li {
  margin-bottom: 5px;
}

.saved-conversations button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.saved-conversations button:hover {
  background-color: #e0e0e0;
}
.user-logo {
  width: 20px; /* Ajustați dimensiunea logo-ului în funcție de necesități */
  height: 20px;
  margin-right: 5px; /* Asigurați un spațiu între logo și textul mesajului */
}  

.separator {
  border-top: 1px solid #ccc; /* Linia de sus */
  border-bottom: 1px solid #ccc; /* Linia de jos */
  margin: 8px 0; /* Adaugă un pic de spațiu înainte și după separator */
  height: 10px; /* Înălțimea totală a separatorului, ajustează conform necesităților */
}

.bot-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.sidebar-button {
  padding: 10px;
  margin: 10px 0;
  color: white;
  cursor: pointer;
  background-color: #222;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-button:hover {
  background-color: #444; /* Schimbați culoarea la hover pentru a îmbunătăți feedback-ul vizual */
}

.separator {
  border-top: 1px solid #555; /* Asigurați-vă că separatorul este vizibil */
  margin: 20px 0;
}

/* Stilizare specifică pentru titlurile conversațiilor salvate */
.saved-conversation {
  color: #aaa; /* O culoare mai deschisă pentru a distinge între acțiunile obișnuite și conversațiile salvate */
  font-style: italic;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.saved-conversation:hover {
  background-color: #383838; /* O culoare de fundal la hover pentru a îmbunătăți accesibilitatea */
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* sau absolute */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* fundal negru semitransparent */
  color: white;
  z-index: 10; /* asigură-te că se află peste alte elemente */
}

/* Add the following styles */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Or the desired height */
  justify-content: space-between;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center messages vertically */
  justify-content: flex-end; /* Messages start from bottom */
  overflow-y: auto;
  margin: 0 auto;
  width: 150%; /* Set to desired max width */
  max-width: 1000px; /* Or the desired width */
  height: calc(100% - 120px); /* Adjust based on the height of your header/footer */
  background: #111010; /* Black background for the chat area */
}

.message {
  max-width: 80%; /* Set to desired width */
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.message.user {
  align-self: flex-end;
  background-color: #353434; /* Light background for user message */
}

.message.bot {
  align-self: flex-start;
  background-color: #333; /* Dark background for bot message */
  color: white; /* White text for readability */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 2;
    transform: translateY(0);
  }
}

.message {
  animation: fadeIn 0.5s ease-out;
}
.loading-dot {
  width: 8px;
  height: 8px;
  background-color: #9b8b8b;
  border-radius: 50%;
  margin: 0 2px;
  animation: bounce 1.4s infinite ease-in-out both;
}

.loading-dot:nth-child(2) {
  animation-delay: -0.32s;
}

.loading-dot:nth-child(3) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.chat-page {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #2C3E50;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  padding: 10px;
  margin-bottom: 15px;
  color: #ecf0f1;
  cursor: pointer;
  background-color: #34495e;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar-button:hover {
  background-color: #4A6FA5;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.sidebar-lower {
  margin-top: auto;
}

.logout-container, .light-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #34495e;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #2C3E50;
  color: #FFFFFF;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  max-width: 75%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ecf0f1;
  color: #2C3E50;
}

.message.user {
  align-self: flex-end;
  background-color: #18BC9C;
  color: #FFFFFF;
}

.chat-footer {
  display: flex;
  padding: 20px;
  background-color: #2C3E50;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #18BC9C;
  color: #2C3E50;
  margin-right: 10px;
}

.chat-footer button {
  background-color: #18BC9C;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chat-footer button:hover {
  background-color: #16A085;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Îmbunătățiri pentru responsivitate */
@media (max-width: 768px) {
  .chat-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
  }

  .sidebar-button {
    flex-basis: calc(50% - 20px);
    justify-content: center;
    margin: 10px;
  }

  .sidebar-lower {
    flex-basis: 100%;
    order: 99; /* Asigură că elementele "lower" sunt plasate la sfârșit */
  }

  .chat-header, .chat-footer {
    flex-direction: column;
    align-items: center;
  }

  .chat-footer input, .chat-footer button {
    width: 90%;
    margin: 5px 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.message {
  animation: slideIn 0.5s ease-out;
}




.sidebar-button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar-button:hover {
  background-color: #4A6FA5;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  animation: fadeIn 0.5s ease-out;
}

.chat-container {
  transition: height 0.3s ease;
}

.chat-footer input {
  transition: border-color 0.3s ease, box-shadow 0.2s ease;
}

.chat-footer input:focus {
  border-color: #16A085;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .message {
    animation-duration: 0.3s; /* Faster animations on smaller devices */
  }
}

.sidebar-lower button {
  display: block; /* Face fiecare buton să ocupe propria linie */
  width: 100%; /* Face butoanele să se extindă pe toată lățimea containerului */
  margin-bottom: 10px; /* Adaugă spațiu sub fiecare buton */
  background-color: #4A6FA5; /* Culoarea de fundal a butonului */
  color: white; /* Culoarea textului butonului */
  padding: 10px; /* Padding pentru buton */
  border: none; /* Îndepărtează border-ul implicit al butonului */
  cursor: pointer; /* Cursorul mouse-ului devine mână la hover pentru a indica acțiunea */
  border-radius: 5px; /* Rotunjește colțurile butonului */
  transition: background-color 0.3s ease; /* Tranziție suavă pentru culoarea de fundal la hover */
}

.sidebar-lower button:hover {
  background-color: #3D5A80; /* Întunecă culoarea butonului la hover */
}

.sidebar-lower button:last-child {
  margin-bottom: 0; /* Elimină margin-ul de jos pentru ultimul buton, dacă este necesar */
}
.message {
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-bottom: 12px;
  padding: 10px 15px;
}
.message.user {
  background-color: #5ca127;
  align-self: flex-end;
}

.message.bot {
  background-color: #5495a5;
  align-self: flex-start;
}

.chat-footer input {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  width: calc(100% - 42px);
}

.chat-footer button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #0056b3;
}

.sidebar {
  overflow-y: auto;
}
.sidebar-button:hover {
  background-color: #51cad3;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .chat-container {
    flex-direction: column;
  }
}

@keyframes messageIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  animation: messageIn 0.3s ease-out;
}

.faq-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ajustează conform nevoii */
}

.faq-modal {
  background-color: #5e5c5c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 700px; /* Ajustează conform nevoii */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Asigură că orice overflow este ascuns */
  z-index: 1001;
}
/* Stiluri pentru conținutul modalului FAQ, care permite scroll-ul */
.faq-content {
  overflow-y: auto; /* Activează bara de scroll verticală dacă este necesar */
  max-height: 700px; /* Ajustează înălțimea maximă conform nevoilor tale */
}

.faq-modal button {
  align-self: center; /* Centrează butonul în modal */
  margin-top: 20px; /* Adaugă spațiu deasupra butonului */
}
.faq-icon {
  width: 24px; /* sau orice altă dimensiune preferi */
  height: auto;
  margin-right: 8px;
}

.faq-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.faq-modal {
  width: 80%;
  max-width: 500px;
  background: rgb(65, 62, 62);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes backdropFadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.faq-modal-backdrop {
  animation: backdropFadeIn 0.5s ease;
}

.faq-modal {
  animation: modalFadeIn 0.5s ease;
}
.faq-modal button {
  background-color: #424240;
  color: rgb(15, 15, 15);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.faq-modal button:hover {
  background-color: #5f6061;
  transform: translateY(-2px);
}
@media (max-width: 600px) {
  .faq-modal {
    width: 90%;
    padding: 15px;
  }
}

/* feedback-form.css */
form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
